*.o
*.d
*.log
*.out
*.swp
*.swo
.vscode
*.replace
test
*.bak

#cpp00
megaphone
phonebook
accounts

#cpp01
zombies
horde
brain
violence
sed
harl
harlFilter

#cpp02
fixed

#cpp03
clapTrap
scavTrap
fragTrap
diamondTrap

#cpp04
animal
materia

#cpp05
bureaucrat

#cpp06
convert
serialize
dynamic

