*.o
*.d
*.log
*.out
*.swp
*.swo
.vscode
*.replace
test

#module00
megaphone
phonebook
accounts

#module01
zombies
horde
brain
violence
sed
harl
harlFilter

#module02
fixed

#module03
clapTrap
scavTrap
fragTrap
diamondTrap

#module04
animal
